<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= form_with model: @post do |form| %>
  <%= form.label 'title' %>
  <br>
  <%= form.text_field :title %>
  <br>
  <%= form.label 'content' %>
  <br>
  <%= form.text_area :content %>
  <br>
  <%= form.submit 'Create Post' %>
<% end %>

<h2>Posts</h2>
<div id='new_post'></div>