<li><%= post.title %>
  <%= post.content %>
  <%= link_to 'show', post, remote: true %>
  <%= link_to 'edit', edit_post_path(post), remote: true %>
  <%= link_to 'destroy', post, remote: true, method: :delete %>
</li>